body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  * {
	box-sizing: border-box;
  }
  
  .bg-image {
	/* The image used */
	background-image: url("images/p1.png");
	/* Add the blur effect */
	filter: blur(4px);
	-webkit-filter: blur(4px);
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
	background-color: #FFD700; /* rgb(0,0,0) Fallback color */
	background-color: #fbd043; /* Black w/opacity/see-through */
	color: rgb(0,0,0);
	font-weight: bold;
	border: 6px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 50px;
	text-align: center;
	
  }
  
  
  .btn1 {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-size: 13px;
	color: #fff;
	background-color: #000000;
	border-radius: 15px;
	box-shadow: 0px 3px 0px #DCDCDC;
	text-align: center;
	padding-top: 12px;
	text-decoration: none;
	margin: 40px 0 0;
	font-weight: bold;
	-webkit-animation: btnWiggle 5s infinite;
	-moz-animation: btnWiggle 5s infinite;
	-o-animation: btnWiggle 5s infinite;
	animation: btnWiggle 5s infinite;
  }
  
  .btn2 {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-size: 13px;
	color: #fff;
	background-color: #000000;
	border-radius: 15px;
	box-shadow: 0px 3px 0px #DCDCDC;
	text-align: center;
	padding-top: 12px;
	text-decoration: none;
	margin: 40px 0 0;
	font-weight: bold;
	-webkit-animation: btnWiggle 5s infinite;
	-moz-animation: btnWiggle 5s infinite;
	-o-animation: btnWiggle 5s infinite;
	animation: btnWiggle 5s infinite;
  }
  
  
  .btn3 {
	display: block;
	background-image: url('images/icon.png');
	  position: relative;
	  letter-spacing: .4px;
	  cursor: pointer;
	  font-weight: 400;
	  text-transform: none;
	  color: #fff;
	  background-color: #5cbe4a;
	  background-repeat: no-repeat;
	  line-height: 1.2;
	  text-decoration: none;
	  text-align: left;
	  font-size: 16px;
	  background-size: 30px;
	  background-position: 10px 4px;
	  padding: 8px 6px 8px 30px;
	  color: #fff;
	  width: 110px;
	  height: 40px;
	  font-size: 16px;
	  border-radius: 15px;
	  padding-top: 10px;
	  padding-left:45px;
	  box-shadow: 0px 3px 0px #DCDCDC;
	  margin: 15px auto 0;
  }

  .btn4 {
	display: inline-block;
	width: 100px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	background-color: #000000;
	border-radius: 15px;
	box-shadow: 0px 3px 0px #DCDCDC;
	text-align: center;
	padding-top: 2px;
	text-decoration: none;
	margin: 40px 0 0;
	font-weight: bold;
	-webkit-animation: btnWiggle 5s infinite;
	-moz-animation: btnWiggle 5s infinite;
	-o-animation: btnWiggle 5s infinite;
	animation: btnWiggle 5s infinite;
  }


  .imp {
	width: 100px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	border: 5px solid white;
	border-radius: 15px;
	margin: 40px 0 0;
  }
  
  @-webkit-keyframes btnWiggle {
	  0% {-webkit-transform: rotate(0deg);}
	  2% {-webkit-transform: rotate(-1deg);}
	  3.5% {-webkit-transform: rotate(1deg);}
	  5% {-webkit-transform: rotate(0deg);}
	  100% {-webkit-transform: rotate(0deg);}
  }
  @-o-keyframes btnWiggle {
	  0% {-webkit-transform: rotate(0deg);}
	  2% {-webkit-transform: rotate(-1deg);}
	  3.5% {-webkit-transform: rotate(1deg);}
	  5% {-webkit-transform: rotate(0deg);}
	  100% {-webkit-transform: rotate(0deg);}
  }
  @keyframes btnWiggle {
	  0% {-webkit-transform: rotate(0deg);}
	  2% {-webkit-transform: rotate(-1deg);}
	  3.5% {-webkit-transform: rotate(1deg);}
	  5% {-webkit-transform: rotate(0deg);}
	  100% {-webkit-transform: rotate(0deg);}
  }


.img{
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border:6px solid black;
}

.bd{
	border-radius: 8px;
	border:2px black solid;
	font-size:16px;
	font-family: 'Courier New', Courier, monospace;
	padding: 13px 20px;
	color: #000000;
}